body {
  background-color: black;
  text-align: center;
}

/* top landing page */

.mainHead {
  font-family: verdana;
  font-size: 50px;
  color: white;
  text-align: center;
}

.link {
  color: aquamarine;
  font-size: 16px;
}

/* mid landing page */

.guideHead {
  color: white;
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
}

.subGuide {
  font-family: verdana;
  font-size: 21px;
  color: gray;
}

/* footer page */

.copyright {
  text-align: right;
  color: gray;
}